@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Libre+Baskerville:wght@700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
}

/*MIXIN*/

@mixin parrafos {
    font-family: 'Bitter', serif;
     font-size: 1.5rem;
     margin: 1rem;
     text-align: justify;
     padding: 1.5rem;
 
}

